.action-box {
	position: absolute;
	bottom: 1%;
	right: 1%;
	transform: translateY(-50%);
	background: #111;
	opacity: .6;
	border: solid white 1px;
	border-radius: 10px;
	padding: 20px;
}

.action-btn-group {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: bottom;
	position: relative;
}

.label {
	margin: 0;
	text-align: center;
}

.action-btn {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	border: solid white 1px;
	cursor: pointer;
	outline: none;
}

.action-btn-label {
	font-weight: bold;
	font-size: 14px;
	line-height: 50px;
}

.fold-btn {
	background: orangered;
}

.fold-label {
	color: orangered;
}

.check-btn {
	background: lightblue;
}

.check-label {
	color: lightblue;
}

.call-btn {
	background: yellowgreen;
	font-size: 18px;
	line-height: 50px;
}

.call-label {
	color: yellowgreen;
}

.raise-btn {
	background: plum;
}

.raise-label {
	color: plum;
}

.raise-link {
	cursor: pointer;
	white-space: nowrap;
}

.raise-dialogue {
	z-index: 99999;
	background: #111;
	border: solid white 1px;
	border-radius: 10px;
	padding: 20px;
	position: absolute;
	bottom: 150%;
	left: 50%;
	transform: translateX(-50%);
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 100%;
	height: 200px;
	padding: 0;
	margin: 10px 0 0 0;
}

.plus-minus-container {
	width: 100%;
	font-size: 36px;
}
