.action {
	position: relative;
}

.action-circle {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	border-radius: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 18px;
	z-index: 1;
}

.action-circle-label {
	font-weight: bold;
}

.action-dialogue {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 20px 0 30px;
	border-radius: 10px;
	opacity: .7;
	background: #111;
	font-weight: bold;
}

.call,
.big-blind {
	& .action-circle {
		background: greenyellow;
	}
	
	& .action-dialogue {
		color: greenyellow;
	}
}

.small-blind {
	& .action-circle {
		background: yellow;
	}
	
	& .action-dialogue {
		color: yellow;
	}
}

.call {
	& .action-circle-label:after {
		content: 'C';
	}
}

.big-blind,
.small-blind {
	& .action-circle-label:after {
		content: 'B';
	}
}

.raise {
	& .action-circle {
		background: plum;
	}
	
	& .action-circle-label:after {
		content: '\f077';
	}
	
	& .action-dialogue {
		color: plum;
	}
}

.check {
	& .action-circle {
		background: lightblue;
	}
	
	& .action-circle-label:after {
		content: '\f00c';
	}
	
	& .action-dialogue {
		color: lightblue;
	}
}

.fold {
	& .action-circle {
		background: orangered;
	}
	
	& .action-circle-label:after {
		content: '\f00d';
	}
	
	& .action-dialogue {
		color: orangered;
	}
}