<h1>Lobby</h1>

<div class="container">
	<div class="inner-container">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Blinds</th>
					<th>Players</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let room of rooms; let i = index" [ngClass]="{even: i % 2 == 0, odd: i % 2 == 1}" [routerLink]="['/room', room.id]">
					<th>{{ room.name }}</th>
					<th>{{ (room.bigBlind / 2) + '/' + room.bigBlind }}</th>
					<th>{{ room.players + '/' + room.maxPlayers }}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>