<div [ngClass]="{'sitting-out': player && player.isSittingOut, empty: !player}" class="player-box">
	<p *ngIf="player">{{ player.name }}</p>
	<p *ngIf="player">{{ player.chips }}</p>
	<span *ngIf="!player" class="join-link">Join Table</span>
</div>
<div *ngIf="player && player.isInHand" class="hole-cards">
	<img class="hole-card bottom" src="assets/cards/back-design-purple.svg">
	<img class="hole-card" src="assets/cards/back-design-purple.svg">
</div>
<div *ngIf="player" class="action-box">
	<app-player-action [playerAction]='player.playerAction'></app-player-action>
</div>
<div *ngIf="player && player.isDealer" class="dealer-button">D</div>