.player-box {
	position: absolute;
	background: #111;
	color: white;
	padding: 10px;
	border: solid #eee;
}

p {
	margin: 0;
}

:host.player-0 > .player-box {
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
}

:host.player-1 > .player-box {
	left: 25%;
	top: 94%;
	transform: translateX(-100%);
}

:host.player-2 > .player-box {
	left: 5%;
	top: 72%;
	transform: translateX(-100%);
}

:host.player-3 > .player-box {
	left: 5%;
	top: 28%;
	transform: translate(-100%, -100%);
}

:host.player-4 > .player-box {
	left: 25%;
	top: 6%;
	transform: translate(-100%, -100%);
}

:host.player-5 > .player-box {
	left: 50%;
	top: 0%;
	transform: translate(-50%, -100%);
}

:host.player-6 > .player-box {
	left: 75%;
	top: 6%;
	transform: translateY(-100%);
}

:host.player-7 > .player-box {
	left: 95%;
	top: 28%;
	transform: translateY(-100%);
}

:host.player-8 > .player-box {
	left: 95%;
	top: 72%;
}

:host.player-9 > .player-box {
	left: 75%;
	top: 94%;
}
