<div class="player-box">
	<p>{{ name }}</p>
	<p>{{ chips }}</p>
</div>
<div class="hole-cards">
	<img class="hole-card bottom" src="assets/cards/back-design-purple.svg">
	<img class="hole-card" src="assets/cards/back-design-purple.svg">
</div>
<div class="action-box">
	<!-- <div class="action raise">
		<div class="action-circle"><span class="fa action-circle-label"></span></div>
		<div class="action-dialogue">$50</div>
	</div> -->
	<div class="action fold">
		<div class="action-circle"><span class="fa action-circle-label"></span></div>
	</div>
</div>
<div class="dealer-button">D</div>
