<div class="table-wrapper">
	<div class="table">
		<app-player [name]="'Ted'" [chips]="25000" class="player-0"></app-player>
		<app-player [name]="'Poon dog'" [chips]="25000" class="player-1"></app-player>
		<app-player [name]="'player2'" [chips]="25000" class="player-2"></app-player>
		<app-player [name]="'dodgers fan'" [chips]="25000" class="player-3"></app-player>
		<app-player [name]="'Seth'" [chips]="25000" class="player-4"></app-player>
		<app-player [name]="'Jose'" [chips]="25000" class="player-5"></app-player>
		<app-player [name]="'Sally'" [chips]="25000" class="player-6"></app-player>
		<app-player [name]="'sandy'" [chips]="25000" class="player-7"></app-player>
		<app-player [name]="'mark'" [chips]="25000" class="player-8"></app-player>
		<app-player [name]="'cheech'" [chips]="25000" class="player-9"></app-player>
	</div>
</div>