<nav class="type__title">
	<span *ngIf="!menuObject.isLobby && currentTable == null" class="nav-btn nav-item left-item" [routerLink]="['/']">Lobby</span>
	<span *ngIf="!menuObject.isLobby && currentTable != null" class="nav-btn nav-item left-item" (click)="standClicked()">Stand Up</span>
	
	<span class="nav-title">{{ menuObject.title }}</span>
	
	<ng-container *ngIf="currentPlayer; then current_player; else login"></ng-container>
</nav>

<ng-template #login>
	<app-login-modal class="nav-btn nav-item right-item"></app-login-modal>
</ng-template>

<ng-template #current_player>
	<span class="nav-item right-item type__title--no-upper">{{ currentPlayer.name }}</span>
</ng-template>